@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400;500;600&display=swap");

body {
  margin: 0;
  font-family: "Sarabun", sans-serif;
}
* {
  font-family: "Sarabun", sans-serif;
}
a{
  color: #000000c0 !important;
}
:root {
  --orange-100: #f55e23;
  --orange-50: #ff8a5b;
  --orange-25: #f89169;
  --black-100: #242424;
  --black-50: #222222;
  --white-100: #ffffff;
  --background: #032b43;
  --background-2: #434242;
  --backgroung-img: linear-gradient(
    to left top,
    #000000,
    #441820,
    #85262c,
    #c63d29,
    #ff6300
  );
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-color: #8f54a0 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  display: none;
  scrollbar-width: 10px;
}
.kill{
  background-position: center;
  background-repeat: no-repeat;
}