@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400;500;600&display=swap");
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

#root {
  position:relative;
  font-family: "Sarabun", sans-serif;
  /* background: #d6e4e5; */
  display: block;
  max-width: 100vw;
  z-index: 120;
  font-size: 100%;
}
a {
  text-decoration: none !important;
}
* {
 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.route{
  display: block;
  overflow: none;
  max-width: 100vw;
  max-height: 100%;
}
:root {
  --thirty: #ffffff;
  --sixty: #1e212b;
  --sixty-2:#343a40;
  --ten: #fb5607;
}
@media screen and (max-width:376px) {
  .route{
    max-height: 90vh;
    overflow: scroll;
  }
}

