.app{
    position: relative;
    min-width: 100vw;
}
.bg{
    transition: 0.5s;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.342);
    width: 100vw;
    height: 100vh;
    z-index: 1;
    
}
.logo{
    font-weight: 600;
}
.boxnav{
    height: 60px;
}
.bg.fade{
    position: absolute;
    transition: 0.5s;
    background-color:rgba(223, 15, 15, 0);
    width: 100vw;
    height: 100vh;
    z-index: 0;
}
.nav-head {
  flex-wrap: nowrap;
  background-color: var(--main-page-color);
  height: 60px;
  box-shadow: 3px 0px 9px 5px rgba(0, 0, 0, 0.18);
  font-size: calc(0.6rem + 0.390625vw);
}
.bars{
  
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
    font-size: large;
}
.name-d{
    display: flex;
    justify-content: end;
    align-items: center;
    font-weight: 500;
    font-size: calc(0.3rem + 0.390625vw) !important;
}
@media screen and (max-width: 500px) {
   .name-d{
    display: none;
   }
   .name-d.active{
    display: none;
   }
  }
.sidebar{
    position: absolute;
    background-color:var(--main-page-color);
    width: 250px;
    height: 100vh;
    top: 0;
    left:0;
    box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.16);
    transition: 0.5s;
    z-index: 1;
    
}
.sidebar.clos{
    left: -250px;
    transition: 0.5s;
    box-shadow: none;
}
.re{
    position: absolute;
}
.sidenav-body{
    position: absolute;
    bottom: 0;
    top: 60px ;
    width: 100%;
    display: flex;
    height: fit-content;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    
}
.nav-item{
    text-decoration: none;
    /* color: #FF9551; */
    
   width: 100%;
    
   
}
.cusFont{
    font-size: 1rem;
    width: 90%;
    display: flex;
    height: 50px;
    /* justify-content: flex-start; */
    border-radius: 5px;
    align-items: center;
    font-weight:bold;
    /* color: var(--font-color); */
    color: #73777B;
    gap: 5%;

}
.cusFont:hover{
    font-weight:600;
    color: #F66B0E;
    background-color: #FDEEDC;
    
}
.icon{
    font-size: large;
    display: flex;
    align-items: center;
    margin-left: 10%;
}
.menu-title{
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content:start ;
    width: 80%;
}

