.page-product {
  height: auto;
  /* background-color: var(--white-100); */
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  overflow: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* margin-top: 70px; */
  margin-bottom: 60px;
}
.manage {
  height: fit-content;
  max-height: 50px;
  align-self: end;
  width: 40%;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
  padding: 5px;
}
#group {
  display: block;
  word-wrap: break-word !important;
}
.btn-single {
  width: fit-content;
  max-height: 100%;
  background-color: #75c3fc !important;
  color: var(--white-100) !important;
}
.btn-group {
  /* max-width: 100%; */
  max-height: 100%;
  background-color: var(--orange-25) !important;
  color: var(--white-100) !important;
}
.edit {
  background-color: #f7e25e;
  width: 20px;
  height: 20px;
  padding: 2px;
  border-radius: 5%;
  box-shadow: 0px 1px 7px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.edit:hover {
  box-shadow: 0px 0px 20px 3px #f7e25e;
}
.qrcode {
  background-color: #bdd358;
  width: 20px;
  height: 20px;
  padding: 2px;
  border-radius: 5%;
  box-shadow: 0px 1px 7px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.qrcode:hover {
  box-shadow: 0px 0px 20px 3px #bdd358;
}
.check {
  background-color: #c792df;
  width: 20px;
  height: 20px;
  padding: 2px;
  border-radius: 5%;
  box-shadow: 0px 1px 7px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.check:hover {
  box-shadow: 0px 0px 20px 3px #c792df;
}
.update {
  background-color: #ff9346;
  width: 20px;
  height: 20px;
  padding: 2px;
  border-radius: 5%;
  box-shadow: 0px 1px 7px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.update:hover {
  box-shadow: 0px 0px 20px 3px #ff9346;
}
.btn-cancel {
  background-color: #fd7979 !important;
  color: #ffff !important;
}
.btn-cancel:active {
  background-color: #b62d2d !important;
  color: rgb(0, 0, 0) !important;
}
.file-card {
  margin: 0rem;
  background-color: #edf2f7;
  border: 3px dashed #cbd5e0;
  padding: 1em;
  width: 100%;
  min-width: 150px;
  max-width: 300px;
  max-height: 100% !important;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.file-inputs {
  position: relative;
  margin-bottom: 1.5em;
  cursor: pointer;
}

div.imge {
  z-index: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 100%;
  height: 100%;
  font-size: 3rem !important;
  background-color: #fcdc759c;
}
div.nimg {
  font-size: 0.8rem !important;
  color: #1d1d1d;
}
img.imageShow {
  display: block;
  top: 0px;
  bottom: 0px;
  width: 100%;
  max-width: 150px;
  position: relative;
  border: 1px dashed;
}
button
  > div.MuiFormControl-root.MuiFormControl-fullWidth.MuiTextField-root.bg-danger.css-wb57ya-MuiFormControl-root-MuiTextField-root {
  opacity: 0;
}
/* div.dataTables_paginate > ul.pagination {
  background-color: #ffffffb7;
  color: white !important;
  max-width: fit-content;
  border-radius: 3px;
} */
@media screen and (max-width: 376px) {
  .page-product {
    font-size: calc(0.8rem + 0.3px) !important;
  }
  .manage {
    align-self: center;
    width: 100%;
  }
}
