.contentner{
  max-width: 97vw;
  margin: 0 auto;
  margin-top: 15px;
}
.b-box{
  box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.14);
}
.page-product {
  height: auto;
  overflow: none;
  width: 100%;
  margin-bottom: 50px;
  background-color: #ffffff;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.16);
}
.bg-inf{
  background-color: #85A3FF;
}
.bg-info-blue400:hover{
  background-color: #475788 !important;
}
.manage {
  border-left: 5px solid #ff4800b2;
}
.btn-add {
  padding: 4px;
  border-radius: 5px !important;
  cursor: pointer;
  font-size: small;
  font-weight: bolder;
}
.btn-add:hover {
  box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.04);
}
.btn-single {
  max-height: 100%;
  background-color: #b8e1ff !important;
  border-radius: 1px solid #4b89b6;
  color: #4b89b6 !important;
}
.btn-group {
  /* max-width: 100%; */
  max-height: 100%;
  background-color: #f8926969 !important;
  color: #e46c3d !important;
}
.edit {
  background-color: #f7e35e91;
  color: #998500;
  width: 20px;
  height: 20px;
  padding: 2px;
  border-radius: 5%;
  box-shadow: 0px 1px 7px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.edit:hover {
  transition: 0.2s;
  background-color: #f8d911;
  color: #fdfdfd;
}
.detail {
  background-color: #eb455e7a;
  color: #eb455f;
  width: 20px;
  height: 20px;
  padding: 2px;
  border-radius: 5%;
  box-shadow: 0px 1px 7px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.detail:hover {
  transition: 0.2s;
  background-color: #eb455f;
  color: #fdfdfd;
}
.qrcode {
  background-color: #a9c23b71;
  color: #6b8300;
  width: 20px;
  height: 20px;
  padding: 2px;
  border-radius: 5%;
  box-shadow: 0px 1px 7px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.qrcode:hover {
  transition: 0.2s;
  background-color: #a1bb2d;
  color: #ffffff;
}
.check {
  background-color: #c792df91;
  color: #690099;
  width: 20px;
  height: 20px;
  padding: 2px;
  border-radius: 5%;
  box-shadow: 0px 1px 7px 5px rgba(0, 0, 0, 0.05);
  transition: 0.2s;
  cursor: pointer;
}
.check:hover {
  transition: 0.2s;
  background-color: #ae00ff;
  color: #ffffff;
}
.update {
  background-color: #ff934685;
  color: #a14300;
  width: 20px;
  height: 20px;
  padding: 2px;
  border-radius: 5%;
  box-shadow: 0px 1px 7px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.update:hover {
  transition: 0.2s;
  background-color: #f06909;
  color: #ffffff;
}
.btn-cancel {
  background-color: #fd7979 !important;
  color: #ffff !important;
}
.btn-cancel:active {
  background-color: #b62d2d !important;
  color: rgb(0, 0, 0) !important;
}
.file-card {
  margin: 0rem;
  background-color: #edf2f7;
  border: 3px dashed #cbd5e0;
  padding: 1em;
  width: 100%;
  min-width: 150px;
  max-width: 300px;
  max-height: 100% !important;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
button
  > div.MuiFormControl-root.MuiFormControl-fullWidth.MuiTextField-root.bg-danger.css-wb57ya-MuiFormControl-root-MuiTextField-root {
  opacity: 0;
}
/* div.dataTables_paginate > ul.pagination {
  background-color: #ffffffb7;
  color: white !important;
  max-width: fit-content;
  border-radius: 3px;
} */
@media screen and (max-width: 376px) {
  .page-product {
    font-size: calc(0.8rem + 0.3px) !important;
  }
  .manage {
    align-self: center;
    width: 100%;
  }
}
.input-image {
  background-color: #0095ff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  height: 70px;
  z-index: 2;
}
.image-input {
  position: relative;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background-color: #0095ff1a;
  height: 78px;
}
.logoimg-upload {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 20px;
  bottom: 0;
  color: #266da0;
  font-weight: bold;
  font-size: 2rem;
}
.imgShow {
  /* display: flex;

  background-color: #69009925;
  z-index: 5;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; */
  display: contents;
  border-radius: 10px;
}
.showdetail {
  background-color: #e45826;
  display: flex;
  flex-direction: row;
}
.detaill {
  background-color: #ffffff3b;
}
.img-detail {
  box-shadow: 2px 2px 8px 5px rgba(0, 0, 0, 0.1);
  max-height: 250px;
  min-width: 150px;
}
.showwdet{
  font-size: 14px !important;
}
.dashboard{
  min-height: 90px;
}
.bg-b:hover{
  background-color:#2952ccd0 !important ;
}
