.content{
    margin-top: 30px;
}
.conntent{
    justify-content: center;
    gap: 10px;
}
.all-product{
    padding: 5px;
    background-color: #ffffff;
    height: 70px;
    color: rgb(61, 148, 21);
    font-weight: bold;
    font-size: 80%;
    border-left: 6px solid #54B435;
    height: fit-content;
}
.total{
    font-size: 3em;
    margin-left: 10px;
}
.out{
    padding: 5px;
    background-color: #ffffff;
    height: 70px;
    color: rgb(185, 33, 33);
    font-weight: bold;
    font-size: 80%;
    border-left: 6px solid #c91c1c;
    height: fit-content;
}
.fix{
    padding: 5px;
    background-color: #ffffff;
    height: 70px;
    color: rgb(185, 158, 0);
    font-weight: bold;
    font-size: 80%;
    border-left: 6px solid #ebe700;
    height: fit-content;
}
.donate{
    padding: 5px;
    background-color: #ffffff;
    height: 70px;
    color: rgb(51, 75, 179);
    font-weight: bold;
    font-size: 80%;
    border-left: 6px solid #408cffce;
    height: fit-content;
}
.cam-check{
    font-size: 5rem;
}
.check{
    background-color: #b04fff86;
    color: #ffffff;
}
.update{
    background-color: #fff563;
    color: #999999;
}
.bg-group{
    background-color: #ff7322de !important;
}
.bg-group:hover{
    background-color: #cc5f20 !important;
}